body{
    background-color: rgb(49, 48, 48);
}
h1 {
    text-align: center;
    color: rgb(144, 18, 68);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}